.main-page{
  background-image: url("images/login-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10%;
  height: 500px;
}

/* #transaction-area {
  display: none;
} */

.deposit {
  background-color: cornflowerblue;
}

.withdraw {
  background-color: salmon;
}

.balance {
  background-color: steelblue;
}

.status {
  margin: 40% 5% 5% 5%;
  border-radius: 7px;
}